@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-UltralightItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Ultrabold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-UltraboldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SVN-Walsheim Pro';
	src: url('../assets/SVNWalsheimPro/SVN-WalsheimPro-Ultralight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
